body {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.box-produktu {
    display: flex;
}

.produkt-nahled {
    position: relative;
    height: auto;
    display: flex;
    flex-basis: 50%;
}

.produkt-box {
    background-color: #FFF;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.produkt-item {
    position: relative;
    padding: 15px 15px 20px 15px;
    margin-top: 10px;
    border:solid 1px rgb(211, 210, 210);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.kolo-obrazek {
    width: 100%;
    height: auto;
    display: block;
    padding-top: 30px;
    float: left;
    position: relative;
}

img {
    height: 100%;
    width: 100%;
}

.nazev-kolo {
    font-size: 14px;
    position: relative;
}

.nazev-kolo__text {
    color: #D80000;
    font-size: 15px;
    text-decoration: underline;
    font-weight: normal;
    margin: 15px 0 10px;
    line-height: 1.4;
    height: auto;
}

.info-bloky {
    float: left;
    width: 100%;
}

.info-bloky__skladem {
    padding: 4px 6px;
    display: inline-block;
    color: #FFF;
    font-size: 11px;
    font-weight: bold;
    background-color: #238C00;
}

.info-bloky__doprava {
    padding: 4px 6px;
    display: inline-block;
    color: #FFF;
    font-size: 11px;
    font-weight: bold;
    background-color: #008C8C;
}

.popis-produktu {
    color: #666666;
    font-size: 13px;
    margin-top: 8px;
    flex-grow: 1;
    margin-bottom: 10px;
    height: auto;
}

.footer-produkt {
    box-sizing: border-box;
    justify-self: end;
}

.info-cena {
    float: left;
    margin-top: 0;
    padding-left: 6px;
}

.info-cena__cena {
    color: #222222;
    font-size: 15px;
    display: block;
    font-weight: bold;
    margin-top: 8px;
}

.info-cena__predesla {
    color: #222222;
    text-decoration: line-through;
    font-size: 12px;
    display: block;
}

.info-cena__nova {
    color: #222222;
    font-size: 15px;
    display: block;
    font-weight: bold;
}

.button-kouput__pravo {
    box-sizing: border-box;
    outline: none;
    float: right!important;
}
.button-kouput__pravo-inside {
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    background-color: #F58220;
    border-radius: 0;
    color: #FFF;
    font-size: 15px;
    padding: 6px 12px;
    display: block;
    margin-top: 5px;
}
.kosik {
    height: 20px;
    width: 20px;
}

.akce-label {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 3;
}

.sleva{
    max-width: 100%;
    height: auto;
    display: block;
    float: right;
    position: relative;
}

.sleva-procenta {
    font-weight: bold;
    border-radius: 100%;
    background-color: #D90000;
    position: absolute;
    color: #FFF;
    text-align: center;
    z-index: 5;
    width: 35px;
    height: 35px;
    right: 10px;
    top: 10px;
    line-height: 35px;
    font-size: 13px;
}


  